body {
  height: 718px;
  width: 375px;
}

.heading {
  display: flex;
  height: 20px;
  width: 76px;
  left: 12px;
  top: 10px;
  background-color: greenyellow;
  justify-content: space-between;
}

article {
  position: static;
  width: 327px;
  height: 150px;
  left: 24px;
  top: 114px;
  margin-top: 40px;
}

span {
  display: block;
  color: #344563;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7480ee;
}