body {
  height: auto;
  width: 375px;
  background-color: #210b54;
  font-family: Roboto, sans-serif;
}

.heading {
  display: flex;
  width: 375px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  body {
    width: auto;
    margin: 0 auto;
    margin-left: 40px;
    margin-right: 40px;
  }

  .mobile {
    display: none;
  }

  h6 {
    color: white;
  }

  .main {
    width: 100%;
    display: grid;
  }

  .heading {
    display: none;
  }

  .desktop {
    display: flex;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    display: flex;
  }

  .nav-tag {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .job-title {
    display: grid;
    grid-template-columns: 100%;
    height: auto;
    width: 70%;
    margin: 0 auto;
  }

  .discription {
    width: 99%;
    margin: 0 auto;
  }

  .discribe {
    width: 447px;
    margin: 0 auto;
  }

  .ellipse,  .side-ellipse, .skills {
    display: none;
  }

  .language-framework-desktop {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    width: 40%;
    margin: 0 auto;
  }

  .desktop-line {
    width: 448px;
    border: 1px solid #646369;
  }

  .social-icons {
    justify-content: space-evenly;
    align-items: stretch;
  }

  .desktop-social-icon {
    display: flex;
    width: 73%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  .social-icons-icons, .arrow-icons {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .desktop, .skills-desktop, .desktop-social-icon {
    display: none;
  }

  .mobile-lang {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .hide-mobile {
    display: none;
  }

  .language-framework {
    color: #9490ff;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .social-icons-icons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}

.logo {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.logo:hover {
  text-decoration: underline;
}

h1 {
  color: #7d73fc;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: 0.37px;
  font-size: 48px;
}

h2 {
  color: white;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .left {
    display: none;
  }

  .works-desk {
    display: block;
    width: 70%;
    font-size: 36px;
    color: #9390ff;
  }
}

.job-title {
  display: grid;
  grid-template-columns: 100%;
  height: auto;
}

.title {
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 32px;
  color: #edecff;
}

.ellipse {
  height: 200px;
  float: left;
  margin-top: -200px;
}

.person-name {
  margin-top: 40px;
}

.discription {
  color: white;
  text-align: center;
  /* padding: 34px; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
}

.language-framework {
  color: #9490ff;
  display: grid;
  grid-template-columns: 50% 50%;
}

.side-ellipse {
  float: right;
  margin-top: -180px;
  margin-left: 300px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .outside {
    width: 96%;
    margin-top: 82px;
  }

  .card-one {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 50px;
  }

  .card-image {
    width: 96%;
  }
}

.icons {
  width: 30px;
  margin-right: 10px;
}

h6 {
  margin-left: 40px;
}

li {
  color: white;
  font-size: 15px;
  line-height: 24px;
  list-style: none;
  margin-right: 30px;
}

.skills {
  color: #9490ff;
}

hr {
  border: 1px solid #646369;
  width: 327px;
}

.recent {
  margin-bottom: 49px;
  width: auto;
}

h3 {
  color: #a2a3ae;
}

.work {
  text-align: center;
  color: #9490ff;
  font-size: 40px;
  width: 327px;
  margin-top: 30px;
}

.arrow-icons {
  align-items: center;
  margin-left: 81px;
}

.left {
  text-align: initial;
  margin-left: 20px;
  color: #9490ff;
  font-size: 37px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
}

.works {
  margin-top: 30px;
  text-align: center;
  padding: 10px;
  height: 236px;
}

@media screen and (min-width: 768px) {
  .work-desk {
    color: #9390ff;
    width: auto;
    padding: 0;
    margin-left: 20px;
    margin-bottom: -48px;
  }
}

@media screen and (max-width: 768px) {
  .work-desk, .outside {
    display: none;
  }

  .card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
  }
}

.post-heading {
  height: 76px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin-top: 40px;
}

.post-1 {
  height: 204px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  text-align: center;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}

.languages {
  display: flex;
}

.languages > li:not(:last-child) {
  display: flex;
  border-right: 3px solid #3f3f3f;
  margin-right: 20px;
  padding-right: 15px;
}

h5 {
  color: #edecff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.line {
  margin-left: 20px;
  height: 40px;
  margin-top: 10px;
  margin-right: 20px;
}

.btn {
  height: 50px;
  background-color: #7d73fc;
  margin-right: 225px;
  align-items: center;
  color: #edecff;
  width: 89px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .stoies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
  }

  .card-two {
    display: grid;
    grid-template-columns: 60% 40%;
    direction: rtl;
    margin-bottom: 50px;
  }

  #end {
    align-items: flex-end;
  }
}

.btn:hover {
  cursor: pointer;
  background-color: #a2a3ae;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

h4 {
  color: #9390ff;
  height: 35px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 44px;
  font-size: 32px;
}

.contact-info {
  color: white;
  height: 122px;
  width: 309px;
  margin-left: 20px;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
  width: 322px;
  height: 48px;
  margin-bottom: 30px;
  margin-left: 10px;
}

textarea {
  color: #81818c;
  margin-left: 6px;
}

.btn-btn {
  height: 50px;
  background-color: #7d73fc;
  margin-top: 40px;
  color: #edecff;
  width: 89px;
  margin-bottom: 40px;
}

.btn-btn:hover {
  cursor: pointer;
  background-color: #a2a3ae;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.email {
  font-size: 20px;
  color: white;
  line-height: 28px;
  margin-bottom: 60px;
  margin-left: 40px;
}

.end-line {
  background-color: black;
  height: 3px;
  width: 50%;
  border-radius: 8px;
  padding-bottom: 5px;
}

.input-form {
  padding: 3px;
}
